.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GifContainer {
    border-radius: 40%;
}

.HeaderFadeAppear {
    opacity: 0;
    transform: translateX(-100%);
}

.HeaderFadeAppearActive {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms linear;
}
