.FormContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.Container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: khaki; */
    padding-bottom: 50px;
}

.FormItem {
    width: calc(100% - 6px);
    height: 30px;
    margin-bottom: 20px;
}

.FormBtn {
    width: 100%;
    transition-duration: 250ms;
    margin-top: 10px;
    height: 50px;
    background-color: rgba(232, 204, 45, 0.8);
}

.FormBtn:hover {
    color: #ffffff;
    background-color: rgb(15, 163, 20);
}

.HeaderFadeAppear {
    opacity: 0;
    transform: translateX(-100%);
}

.HeaderFadeAppearActive {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms linear;
}
