.Container {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
 }

.ContainerUserCorner{
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.UserName {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    text-align: center;
}

.LogOutBtn {
    border: 1px solid;
    display: flex ;
    justify-content: center;
    border-radius: 5px;
    padding: 2px;
    margin-left:10px;
    transition-duration: 250ms;
    background-color: rgba(84, 228, 103, 0.5);
    box-shadow: 1px 1px 3px 1px black, 1px 1px 3px 1px black,
    1px 1px 3px 1px black;
    width: fit-content;
    height: fit-content;
}

.LogOutBtn:hover {
    background-color: #ffffff;
    border: 1px solid;
}


.Avatar {
    border-radius: 50%;
}

.Avatar:hover {
    fill: #2196f3;
}


